body {
  background-image: url("../images/background.jpg");
  background-size: 100%;
}

#main-header {
  font-family: 'Pacifico', cursive;
  font-weight: 600;
  font-size: 50px;
}

p, .add-burger {
  padding: 5px;
  margin: 5px;
  background: rgba(255, 255, 255, .8);
  border-radius: 10px;
  box-shadow: 3px 3px 3px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

h1 {
  text-align: center;
  padding: 20px;
}

input {
  border-radius: 10px;
}

.div {
  background-color: rgba(80, 120, 255, 0.8);
  padding: 20px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px;
  margin: 10px;
}

h2 {
  text-align: center;
}

.btn {
  background-color: rgb(230, 230, 130);
  box-shadow: 2px 2px 2px;
}
