<p>
  {{ burger_name }}
  <button class="btn btn-secondary change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
    {{#if devoured}}EAT BURGER!{{else}}EAT BURGER AGAIN!{{/if}}
  </button>
</p>
